# Prática com base `classicmodels`

Nesta aula iremos praticar **SQL** e fixar os conteúdos aprendidos nas últimas aulas.

## Instalação da base

Vamos utilizar a base de dados exemplo disponível em https://www.mysqltutorial.org/wp-content/uploads/2018/03/mysqlsampledatabase.zip. Faça o download e execute o script `mysqlsampledatabase.sql` para gerar a base de dados.

## Como resolver os exercícios?

Indicamos que crie uma cópia da base de dados em sua máquina (passo anterior). Utilize o MySQL Workbench ou o conector para testar as queries. Quando estiver bastante certo de que a resposta está correta, faça a submissão para o servidor.

## Import das bibliotecas

Vamos realizar o import das bibliotecas.

In [ ]:
import mysql.connector
from functools import partial
import os
import insperautograder.jupyter as ia
from dotenv import load_dotenv

E vamos criar nosso HELPER de conexão com o banco! Perceba que, uma vez configurado o `.env` não precisaremos mais informar usuários, senhas e URLs!

In [ ]:
load_dotenv(override=True)

def get_connection_helper():

    def run_db_query(connection, query, args=None):
        with connection.cursor() as cursor:
            print('Executando query:')
            cursor.execute(query, args)
            for result in cursor:
                print(result)

    connection = mysql.connector.connect(
        host=os.getenv('MD_DB_SERVER'),
        user=os.getenv('MD_DB_USERNAME'),
        password=os.getenv('MD_DB_PASSWORD'),
        database='classicmodels',
    )
    return connection, partial(run_db_query, connection)


connection, db = get_connection_helper()

### Tarefas e Notas
Vamos conferir as tarefas e notas

In [ ]:
ia.tasks()

In [ ]:
ia.grades()

**Exercício 1**: Crie uma query que conte a quantidade de registros na tabela `offices`.

In [ ]:
sql_ex01 = '''
-- Sua query AQUI!
'''

db(sql_ex01)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex01', task='sql_review1', question='ex01', answer_type='pyvar')

#### Conferir a nota
Se obter um **correto**, confira se a nota foi atualizada:

In [ ]:
ia.grades()

**Exercício 2**: Crie uma query que retorne todos os países diferentes considerando os registros da tabela de consumidores. Ainda, retorne em ordem crescente pelo nome do país.

In [ ]:
sql_ex02 = '''
-- Sua query AQUI!
'''

db(sql_ex02)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex02', task='sql_review1', question='ex02', answer_type='pyvar')

**Exercício 3**: Crie uma query que CONTE quantos são os países diferentes (sem repetição) considerando os registros da tabela de consumidores.

In [ ]:
sql_ex03 = '''
-- Sua query AQUI!
'''

db(sql_ex03)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex03', task='sql_review1', question='ex03', answer_type='pyvar')

**Exercício 4**: Crie uma query que retorne o **Nome do consumidor** e **telefone** de todos os consumidores que possuem a substring `Ltd` em seu nome. Ainda, retorne em ordem decrescente por nome.

In [ ]:
sql_ex04 = '''
-- Sua query AQUI!
'''

db(sql_ex04)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex04', task='sql_review1', question='ex04', answer_type='pyvar')

**Exercício 5**: Considerando os **produtos** e **categorias** cadastradas, crie uma query que retorne:
- o **id** do produto
- o **nome** do produto
- o **id da categoria** do produto
- a **descrição** da categoria cadastrada

Restrições:
- Ordene pelo **nome** do produto
- Exiba apenas os primeiros `5` registros
- Retorne as colunas na ordem requisitada
- As três primeiras colunas deverão manter o mesmo nome dos campos na base. A quarta coluna (**descrição** da categoria cadastrada) deverá se chamar `productLineDescription`.

In [ ]:
sql_ex05 = '''
-- Sua query AQUI!
'''

db(sql_ex05)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex05', task='sql_review1', question='ex05', answer_type='pyvar')

**Exercício 6**: Crie uma query que retorne o **código** e **nome** dos produtos sem nenhuma venda.

In [ ]:
sql_ex06 = '''
-- Sua query AQUI!
'''

db(sql_ex06)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex06', task='sql_review1', question='ex06', answer_type='pyvar')

**Exercício 7**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos cinco produtos com maior valor total vendido.

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem decrescente por **total vendido**

In [ ]:
sql_ex07 = '''
-- Sua query AQUI!
'''

db(sql_ex07)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex07', task='sql_review1', question='ex07', answer_type='pyvar')

**Exercício 8**: Considere a descrição do exercício anterior, com a seguinte alteração:

**Requisitos**:
- Retorne em ordem **crescente** por **total vendido**

In [ ]:
sql_ex08 = '''
-- Sua query AQUI!
'''

db(sql_ex08)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex08', task='sql_review1', question='ex08', answer_type='pyvar')

**Exercício 9**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos quatro produtos com **menor** valor total vendido.

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem crescente por **total vendido**
- Se um produto não teve vendas, teve aparecer o valor `0.00`

In [ ]:
sql_ex09 = '''
-- Sua query AQUI!
'''

db(sql_ex09)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex09', task='sql_review1', question='ex09', answer_type='pyvar')

**Exercício 10**: Crie uma query que retorne o **código**, **nome** e **total vendido** dos  produtos com valor total vendido maior que 190.000,00 (cem mil).

**Requisitos**:
- As duas primeiras colunas devem seguir a mesma nomenclatura dos campos na tabela
- A coluna com a informação do **total vendido** (valor) deve se chamar `totalOrdered`
- Retorne em ordem **crescente** por **total vendido**

In [ ]:
sql_ex10 = '''
-- Sua query AQUI!
'''

db(sql_ex10)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex10', task='sql_review1', question='ex10', answer_type='pyvar')

**Exercício 11**: Crie uma query que retorne o valor unitário médio dos produtos vendidos em cada mês de cada ano.

Sua query deve retornar as colunas:
- `ano`: valor inteiro que representa o ano. Ex: 2002, 2003, 2004
- `mes`: valor inteiro que representa o mês. Ex: 1, 2, ..., 12
- `productCode`: código do produto
- `productName`: descrição do produto
- `averagePrice`: preço médio unitário

**Requisitos**:
- Retorne apenas os dados de 2003 e 2004
- Retorne apenas as informações do primeiro trimestre do ano
- Retorne apenas os produtos com a substring `ford` no nome do produto
- Produtos sem venda em algum mês ou sem vendas de forma geral não devem ser retornados
- Ordene por múltiplos critérios, nesta ordem:
    - `ano`
    - `mes`
    - `productName`
    
**Obs**:
- Aqui, o valor médio unitário é por venda, desconsiderando a **quantidade** unitária do produto dentro da venda.

In [ ]:
sql_ex11 = '''
-- Sua query AQUI!
'''

db(sql_ex11)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex11', task='sql_review1', question='ex11', answer_type='pyvar')

**Exercício 12**: Crie uma query que crie uma tabela temporária `salesproductlines` contendo informações sobre o quanto a empresa deixou de ganhar devido a vendas **canceladas**. A informação deve estar agrupada por **linha de produto** (tabela `productlines`).

Sua query deve retornar as colunas:
- `productLine`: texto com a linha do produto
- `qtProductCode`: quantos produtos diferentes da linha de produto deixaram de ser vendidos
- `qtTotalOrdered`: total de quantas unidades deixaram de ser vendidas
- `totalLost`: faturamento perdido, considerando o valor unitário na venda e quantas unidades do produto estavam para ser vendidas

**Requisitos**:
- Linhas de produtos sem vendas devem ser retornadas com quantidade `0` e valores `0.00`
- Ordene por `totalLost` de forma decrescente

In [ ]:
sql_ex12 = '''
-- Sua query AQUI!
'''

db(sql_ex12)

Após testar localmente e considerar sua solução correta, faça o envio clicando no botão abaixo!

In [ ]:
ia.sender(answer='sql_ex12', task='sql_review1', question='ex12', answer_type='pyvar')

### Conferindo as Notas

Conferindo as Notas em cada exercício de **todas** as atividades disponíveis:

In [ ]:
ia.grades()

Podemos filtrar por uma atividade:

In [ ]:
ia.grades(task='sql_review1')

Nota por atividade (tarefa):

In [ ]:
ia.grades(by='TASK')

Podendo filtrar apenas uma atividade:

In [ ]:
ia.grades(by='TASK', task='sql_review1')